{% extends 'global/base.html' %} {% block titulo %} Pedido {{ pedido.codigo }}
{% endblock %} {% block main %} {% load filtros %}
<div class="pedido-detail-conteiner">
  <div class="pedido">
    {% csrf_token %}
    <h2>
      Pedido
      <strong>#{{ pedido.codigo }}</strong>
      <span style="display: none">{{ pedido.codigo }}</span>

      <strong
        class="dot active {% if pedido.status.0 == '1' %} red {% elif pedido.status.0 == '2' %} gren {% elif pedido.status.0 == '3' %} gray {% endif %}"
      >
      </strong>

      <span>- {{ pedido.get_status_display }}</span>
    </h2>
    <span><strong>Nome:</strong> {{ pedido.cliente }}</span>

    <p>
      <strong>Data de Entrega:</strong>
      {{ pedido.data_entrega|date:'d/m/Y' }}
    </p>
    <p>
      <strong>{{ pedido.produto }}</strong>
    </p>
    <p>
      <strong>Descrição:</strong>
    </p>
    {{ pedido.observacao }}

    <div class="valores">
      <span>
        <p><strong>Quantidade:</strong></p>
        <p>{{ pedido.quantidade }}</p>
      </span>

      <span>
        <p><strong>Valor:</strong></p>
        <p>{{ pedido.valor|monetario }}</p>
      </span>

      <span>
        <p><strong>Valor Total:</strong></p>
        <p>{{ pedido.valor_total|monetario }}</p>
      </span>
      <span>
        <p><strong>Pagamento:</strong></p>
        {% if pedido.pago %}
        <p>Pago</p>
        {% else %}
        <p>Aguardando Pagamento</p>
        {% endif %}
      </span>
    {% if not pedido.pago %}
      <div class="pagamentos">
        <button onclick="showPix()">Efetuar pagamento:</button>
        <div class="dados-pagamento"></div>
      </div>
      {% include "clientes/partial/pix.html" %} {% endif %}
    </div>
    <hr />
    {% if pedido.historico %}
    <div class="tabela historico">
      <table border="1">
        <tr>
          <th>Data</th>
          <th>Alterações</th>
        </tr>
        {% for log in pedido.historico.all %}
        <tr>
          <td>{{ log.data_alteracao|date:'d/m/Y - H:m' }}</td>
          <td>
            <ul>
              {% for campo, valores in log.alteracoes.items %} 
              {% if campo == 'Criação' %}
              <li>
                <strong>{{ campo }}</strong>:
                <strong>{{ valores.criacao }}</strong>
              </li>
              {% else %}
              <li>
                <strong>{{ campo }}</strong>: "{{ valores.antes }}" → "{{ valores.depois }}"
              </li>
              {% endif %} 
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% empty %}
        {% endfor %}
      </table>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
