@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #278FFF;
    --color-secondary: #FFCA26;
    --color-tertiary: #FF8E26;
    --color-quaternary: #5bd5fa;
    --color-quinary: #807553;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-gray: #808080;
    --filtro-white: invert(1);
    --filtro-black: invert(0);


    --font-primary: Montserrat, sans-serif;
}

html {
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-quaternary);
    color: var(--color-black);
    font-size: 1.1rem;
    line-height: 1.6;
    font-family: var(--font-primary);
    font-weight: 400;
    height: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

ul {
    list-style: none;
}

/* header css style */
header {
    width: 100%;
    background: var(--color-primary);

}

header .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 100%;
    height: 200px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.img-logo {
    height: 100%;
    justify-content: start;
    display: flex;
    align-items: center;
}

.img-logo>a {
    height: 100%;
}

.img-logo img {
    height: 100%;
    filter: var(--filtro-white);
}

.conteiner-acess {
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-flow: column nowrap;
    width: 100%;
    background: var(--color-primary);
}

.areas a {
    padding: 10px;
    border: var(--color-quaternary) 3px solid;
    border-radius: 10px;
    font-size: .7rem;
    font-weight: bold;
    color: var(--color-quaternary);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-flow: row nowrap;
    gap: 20px;
    width: 100%;
}

.nav a {
    color: var(--color-white);
}

.nav a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: var(--color-secondary);
    transition: width .3s;
}

.nav a:hover::after {
    width: 100%;
}

/* main css style */

main {
    height: 100%;
}

main .conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}

.carrossel-conteiner {
    width: 100%;
    overflow: hidden;
}

.carrossel {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    aspect-ratio: 1200/720;
    transition: 1s;
}

.carrossel img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1200/720;
}

.dots-carrossel {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    top: -30px;
    gap: 5px;
}

.dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color-secondary);
    opacity: .5;
}

.dot.active {
    opacity: 1;
}


.servicos-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 90%;
    gap: 60px;
}


.serv {
    justify-items: center;
    text-align: justify;
}

.sobre-conteiner {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: stretch;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    gap: 30px;
}

.sobre,
.sobre-img {
    background: var(--color-secondary);
    border-radius: 30px;
    padding: 10px;
    text-align: justify;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
}

.sobre {
    padding: 40px;
}

.sobre-img {
    height: 100%;
    object-fit: cover;
}

.sobre h2,
.sobre p {

    color: var(--color-black);
}

.sobre-img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.google-conteiner {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
    width: 100%;
    gap: 20px;
    font-size: 1.2rem;
    background: var(--color-white);
    border-radius: 30px;
    padding: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
}

.map {
    grid-row: span 2;

}

.map iframe {
    border-radius: 20px;
    border: 6px solid var(--color-secondary);
}

.contato {
    grid-column: 2;
}

.orcamento-container {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-flow: row nowrap;
    width: 100%;
    gap: 20px;
}

.orcamento-form form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 20px;
    width: 500px;
}

input[type='checkbox'] {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid var(--color-secondary);
}

select[name=cliente] {
    width: 200px;
}

.valortot,
input,
select,
textarea {
    width: 100%;
    height: 40px;
    margin-block: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--color-secondary);
}

input:focus,
select:focus {
    border: 2px solid var(--color-tertiary);
}

textarea {
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--color-secondary);
}

button {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--color-secondary);
    background: var(--color-secondary);
    color: var(--color-white);
    font-weight: bold;
    cursor: pointer;
    align-self: end;
}

.pedidos-conteiner {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    max-width: 1200px;
    gap: 40px;
}

.pedido-conteiner {
    background: var(--color-tertiary);
    border-radius: 30px;
    padding: 20px;
    max-width: 300px;
}

hr {
    width: 100%;
    border: 1px solid var(--color-secondary);
}

.pedido-conteiner h2 {
    display: inline-block;
}

.pedido-conteiner a {
    position: relative;
    left: 70px;
}

.pedido-detail-conteiner {
    display: flex;
    justify-self: center;
    max-width: 1200px;
    justify-content: space-between;
    flex-flow: column nowrap;
    gap: 20px;
    padding: 20px 0;
    background: var(--color-white);
}

.pedido-detail-conteiner .pedido,
.pedido-detail-conteiner .cliente {
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    width: 90%;
    gap: 10px;
}



.pedido-detail-conteiner .cliente .dados {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: 20px;
}

span {
    display: inline-block;
}

.valores {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    gap: 20px;
}

.red {
    background: rgb(253, 128, 128);
}

.gren {
    background: rgb(185, 255, 185);
}

.gray {
    background: rgb(185, 185, 185);
}


.blur-back {
    background: rgba(255, 255, 255, 0.712);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: none;
}

.conteiner-buscar {
    background: var(--color-white);
    padding: 20px;
    margin: auto;
    align-self: center;
    width: 350px;
    height: 200px;
    z-index: 100;
    display: none;
    align-items: center;
    border-radius: 20px;
    transition: all 1s;
}

.blur-back.show {
    display: flex;
}
.conteiner-buscar.show {
    display: flex;
}


.conteiner-buscar form>* {
    margin-top: 10px;
}

.conteiner-profile{
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    margin: 0 auto;
    padding: 20px;
    background: var(--color-white);
    border-radius: 0 0 20px 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
}

.card{
    width: 100%;
    padding: 20px;
    aspect-ratio: 5/2;
    background: var(--color-quaternary);
    border-radius: 20px;
}
/* footer css style */

footer {
    margin-top: 50px;
    width: 100%;
    background: var(--color-black);
}

footer .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 40px;
    color: var(--color-gray);
}

footer .conteiner a {
    color: var(--color-gray);
}

.nav-footer {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    gap: 20px;
    width: 100%;
}

.nav-footer dt {
    font-size: 1.2rem;
    font-weight: bold;
}

.dev-create {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 20px;
    width: 100%;
    font-size: .8rem;
}