<!DOCTYPE html>
<html lang="pt-br">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joyce Bordados - Bordados Personalizados - {% block titulo %} {% endblock %}</title>
    <meta name="description" content="A Joyce Bordados oferece bordados personalizados de alta qualidade para eventos, empresas e muito mais. Confira nossos produtos e serviços!"> <!-- Descrição do site -->
    <meta name="keywords" content="bordados personalizados, Joyce Bordados, bordados para eventos, bordados para empresas, bordado à mão">
    <meta property="og:title" content="Joyce Bordados">
    <meta property="og:description" content="A Joyce Bordados oferece bordados personalizados de alta qualidade para eventos, empresas e muito mais. Confira nossos produtos e serviços!">
    <meta property="og:url" content="https://bordado.fariasfardas.com">
    <meta property="og:type" content="website">





    <link rel="stylesheet" href="{% static 'global/css/style.css' %}" />
    <link rel="shortcut icon" href="{% static "global/svg/icon.svg" %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  </head>
  <body>
    <header>{% include 'global/partial/header.html' %}</header>
    <main>
      {% block main %} {% endblock %} 
      {% include 'clientes/partial/login.html' %}
    </main>
    <footer>{% include 'global/partial/footer.html' %}</footer>
    <script src="{% static "global/js/popup.js" %}"></script>
    <script src="{% static 'global/js/script.js' %}"></script>
    <script src="{% static 'global/js/scroll.js' %}"></script>
    {% block script %}{% endblock script %}
  </body>
</html>
