{% extends 'global/base-admin.html' %}
{% block titulo %}
  Pedido | New
{% endblock %}
{% block main %}
  {% load filtros %}
<form method="post" action="{% url "adm:save-pedido" %}">
  {% csrf_token %}
  <div class="pedido-detail-conteiner">
    <div class="cliente">
      <h2>Cliente</h2>
      {{ form.cliente }}

    </div>
    <hr />
    <div class="pedido">
      <span style="display:none;">{{ form.empresa }}</span>
      <span style="display:none;">{{ form.codigo }}</span>
      <h2>Pedido</h2>
      {{ form.data_entrega.label_tag }}
      {{ form.data_entrega }}
      {{ form.produto.label_tag }}
      {{ form.produto }}
      {{ form.observacao.label_tag }}
      {{ form.observacao }}
      {{ form.status.label_tag }}
      {{ form.status }}
      <div class="valores">
        <span>
          {{ form.quantidade.label_tag }}
          {{ form.quantidade }}
        </span>
        <span>
          {{ form.valor.label_tag }}
          {{ form.valor }}
        </span>
        <span style="display:none;">
          {{ form.valor_total }}
        </span>
        <span>
          {{ form.pago.label_tag }}
          {{ form.pago }}
        </span>
      </div>
      <button type="submit">Salvar</button>
    </div>
  </div>
</form>
<script>
// Seleciona o botão que abre o popup
var add = document.querySelector('.add-related');

add.addEventListener('click', function (event) {
    event.preventDefault();
    
    var popup3 = window.open(add.href, "popup3", "width=600,height=650");

    // Espera o pop-up carregar
    popup3.onload = function () {
        var cliente = popup3.document.querySelector('input[type="submit"]');
        
        if (cliente) {
            cliente.addEventListener('click', function (event) {
                setTimeout(function () {
                    popup3.alert('Pedido Salvo!');
                    popup3.close();
                }, 900);
            });
        }
    };

    // Verifica se o popup foi fechado e recarrega a página principal
    var intervalo = setInterval(function () {
        if (popup3.closed) {
            clearInterval(intervalo);
            location.reload();
        }
    }, 1000);
});

// Manipula o envio do formulário na página principal
var form = document.querySelector('form');
if (form) {
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      Swal.fire({
        title: "Tem certeza?",
        text: "Deseja Criar um pedido?.",
        icon: "question",
        showCancelButton: true,
        confirmButtonText: "Sim",
        cancelButtonText: "Não"
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire({
          title: "Pedido criado",
          icon: "success",
          showCancelButton: false,
          confirmButtonText: "ok"
        }).then((result) => {
          this.submit()
    })
      }
  });
    });
}



</script>

{% endblock %}

