{% extends 'global/base-admin.html' %}
{% block titulo %}
  Pedido #{{ pedido.codigo }} | Edit
{% endblock %}
{% block main %}
  {% load filtros %}
  <div class="pedido-detail-conteiner">
  <form method="post" action="{% url 'empresa:pedido-edit' pk=pedido.pk %}" style='justify-items: center;'>
      <div class="cliente">
        <h2>Cliente</h2>

        <div class="dados">
          <span>
            <strong>Nome:</strong></span> {{ form.cliente }}
          
          <p>
            <strong>Telefone:</strong> {{ pedido.cliente.numero|formatar_telefone }}
          </p>
        </div>
      </div>
      <hr />
      <div class="pedido">
        {% csrf_token %}
        <h2>Pedido</h2><p class="cod-pedido">
          <strong>#{{ pedido.codigo }}</strong>
          <span style="display: none;">{{ form.codigo }}</span>
          <span style="display: none;">{{ form.empresa }}</span>
        </p>
        <p>
          <strong>Data de Entrega:</strong>
          {{ pedido.data_entrega|date:'d/m/Y' }}
        </p>
        <p>
          <strong>{{ form.produto }}</strong>
        </p>
        <p>
          <strong>Descrição:</strong>
        </p>
        {{ form.observacao }}
        <p>
          <strong>Status:</strong>
          <strong class="dot active {% if pedido.status.0 == '1' %}
              
              
            
              red




            {% elif pedido.status.0 == '2' %}
              
              
            
              gren




            {% elif pedido.status.0 == '3' %}
              
              
            
              gray




            {% endif %}">

          </strong>

          {{ form.status }}
        </p>
        <div class="valores">
          <span>
            <strong>Quantidade:</strong>
            {{ form.quantidade }}
          </span>

          <span>
            <strong>Valor:</strong>
            {{ form.valor }}
          </span>

          <span>
            <strong>Valor Total:</strong>
            <p class="valortot">{{ pedido.valor_total|monetario }}</p>
          </span>
          <span>
            <strong>Pago:</strong>
            {{ form.pago }}
          </span>
        </div>
        <button type="submit">Editar</button>
      </div>
    </form>
    <form action="{% url "empresa:pedido-del" pedido.pk %}" method="post" style='justify-items: center;'>
      {% csrf_token %}
        <div class='pedido'>
          <button type="submit" class='red'>Deletar</button>
        </div>
    </form>
  </div>
  <script>
    
    document.getElementsByTagName('form')[0].addEventListener('submit', function(event) {
      event.preventDefault()
      Swal.fire({
        title: "Tem certeza?",
        text: "Deseja editar o pedido #{{ pedido.codigo }}?.",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Sim",
        cancelButtonText: "Não"
    }).then((result) => {
      if (result.isConfirmed) {
        this.submit()
        setTimeout(function() {
          var resp = confirm('Pedido editado com sucesso')
          if (resp ){window.close();}
      }, 500);
      }
  });
  });
    document.getElementsByTagName('form')[1].addEventListener('submit', function(event) {
      event.preventDefault()
      Swal.fire({
        title: "Tem certeza?",
        text: "Deseja excluir o pedido #{{ pedido.codigo }}?.",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Sim",
        cancelButtonText: "Não"
    }).then((result) => {
      if (result.isConfirmed) {
        this.submit()
        setTimeout(function() {
          var resp = confirm('Pedido excluido com sucesso')
          if (resp ){window.close();}
      }, 500);
      }
  });
  });

  </script>
{% endblock %}

