{% extends 'global/base.html' %} {% load static %} {% load filtros %}
{% block titulo %}
  {{ dados.nome }}
{% endblock %} {% block main %}
  <div class="conteiner">
    <div class="conteiner-profile">
      <h1>DashBoard</h1>
      <div class="card">
        <h3>Vendas</h3>
        <p>{{ pedidos.count }}</p>
      </div>
      <div class="card">
        <h3>Faturamento</h3>
        <p>{{ faturamento|monetario }}</p>
      </div>
      <div class="card">
        <h3>Ticket Médio</h3>
        <p>{{ faturamento|dividir:pedidos.count|monetario}}</p>
      </div>
      <div class="filter">
        <form action="" method="get">
          {% csrf_token %}
          <label for="filter">Intervalo:</label>
          <input type="date" name="inicio" id="inicio " required>
          <input type="date" name="final" id="final " required>
          <button type="submit">Filtrar</button>
        </form>
      </div>
      <div class="grafico">

        <canvas id="graficoPedidos" width="100" height="300"></canvas>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
<script>
  var ctx = document.getElementById('graficoPedidos').getContext('2d');

  var graficoPedidos = new Chart(ctx, {
      type: 'line',  // Tipo de gráfico: barra
      data: {
          labels: {{ datas|safe }},  // Datas formatadas
          datasets: [{
              label: 'Pedidos por dia',
              data: {{ pedidos_lista|safe }},  // Quantidade de pedidos por dia
              borderColor: 'blue',
              backgroundColor: 'rgb(46, 46, 124)',
              borderWidth: 1
          }]
      },
      options: {
          responsive: true,  // O gráfico será responsivo
          maintainAspectRatio: false,  // Permite ajustar a proporção
          plugins: {
              legend: {
                  labels: {
                      color: 'black'  // Cor do texto da legenda
                  }
              },
              title: {
                  display: true,
                  color: 'black',  // Cor do título
                  text: 'Pedidos da Semana'
              }
          },
          scales: {
              x: {
                  ticks: {
                      color: 'black'  // Cor dos rótulos do eixo X
                  }
              },
              y: {
                  min: 0,
                  ticks: {
                      color: 'black',  // Cor dos rótulos do eixo Y
                      stepSize: 1  // Tamanho do passo entre os valores do eixo Y
                  }
              }
          }
      },
      devicePixelRatio: window.devicePixelRatio || 4  // Aumenta a resolução, dependendo da tela (Retina)
  });

</script>

{% endblock %}
