@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #278FFF;
    --color-secondary: #FFCA26;
    --color-tertiary: #FF8E26;
    --color-quaternary: #5bd5fa;
    --color-quinary: #807553;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-gray: #808080;
    --filtro-white: invert(1);
    --filtro-black: invert(0);


    --font-primary: Montserrat, sans-serif;
}

html {
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-quaternary);
    color: var(--color-black);
    font-size: 1.1rem;
    line-height: 1.6;
    font-family: var(--font-primary);
    font-weight: 400;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: auto max-content auto;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

ul {
    list-style: none;
}

/* header css style */
header {
    position: sticky;
    top: 0;
    z-index: 99;
    max-height: 200px;
    height: 200px;

    width: 100%;
    background: var(--color-primary);
    transition: all .7s ease;

}

header.scrolled{
    height: 100px;
}

header .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.img-logo {
    height: 60%;
    justify-content: start;
    display: flex;
    align-items: center;
}

.img-logo>a {
    height: 100%;
    min-height: 80px;
}

.img-logo img {
    height: 100%;
    filter: var(--filtro-white);
}

.conteiner-acess {
    height: 60%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-flow: column nowrap;
    background: var(--color-primary);
}
.areas{
    overflow: hidden;
    transition: all .2s ease;
    height: 100%;
}


.scrolled .areas {
    height: 0%;
}

.areas a,
.areas button {
    padding: 10px;
    border: var(--color-quaternary) 3px solid;
    border-radius: 10px;
    font-size: .7rem;
    font-weight: bold;
    color: var(--color-quaternary);
    margin-bottom: 5px;
}

.areas form{
    display: inline;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-flow: row nowrap;
    gap: 20px;
    width: 100%;
}

.nav a {
    color: var(--color-white);
}

.nav a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: var(--color-secondary);
    transition: width .3s;
}

.nav a:hover::after {
    width: 100%;
}

/* main css style */

main {
    height: 100%;
}

main .conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}

.carrossel-conteiner {
    width: 100%;
    overflow: hidden;
}

.carrossel {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    aspect-ratio: 1200/720;
    transition: 1s;
}

.carrossel img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1200/720;
}

.dots-carrossel {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    top: -30px;
    gap: 5px;
}

.dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color-secondary);
    opacity: .5;
}

.dot.active {
    opacity: 1;
}


.servicos-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 90%;
    gap: 60px;
}


.serv {
    justify-items: center;
    text-align: justify;
}

.sobre-conteiner {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: stretch;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    gap: 30px;
}

.sobre,
.sobre-img {
    background: var(--color-secondary);
    border-radius: 30px;
    padding: 10px;
    text-align: justify;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
}

.sobre {
    padding: 40px;
}

.sobre-img {
    height: 100%;
    object-fit: cover;
}

.sobre h2,
.sobre p {

    color: var(--color-black);
}

.sobre-img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.google-conteiner {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
    width: 100%;
    gap: 20px;
    font-size: 1.2rem;
    background: var(--color-white);
    border-radius: 30px;
    padding: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
}

.map {
    grid-row: span 2;

}

.map iframe {
    border-radius: 20px;
    border: 6px solid var(--color-secondary);
}

.contato {
    grid-column: 2;
}

.orcamento-container {
    display: flex;
    padding: 0 50px;
    align-items: start;
    justify-content: center;
    flex-flow: row nowrap;
    width: 100%;
    gap: 20px;
}

.orcamento-form form {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 20px;
    width: 500px;
}

input[type='checkbox'] {
    position: relative;
    top: 3px;
    width: 20px;
    margin: 0px;
    height: 20px;
    border-radius: 10px;
}

select[name=cliente] {
    width: 200px;
}

.valortot,
input,
select,
textarea {
    resize: none;
    width: 100%;
    height: 40px;
    margin-block: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--color-secondary);
}

input:focus,
select:focus {
    border: 2px solid var(--color-tertiary);
}

textarea {
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--color-secondary);
}

button {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--color-secondary);
    background: var(--color-secondary);
    color: var(--color-white);
    font-weight: bold;
    cursor: pointer;
}

.pedidos-conteiner {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    flex-flow: column;
    margin: 0 auto;
    padding: 20px;
    background: var(--color-white);
    border-radius: 0 0 20px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
}

.pedidos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;

}

.pedido-conteiner {
    background: var(--color-tertiary);
    border-radius: 30px;
    padding: 20px;
    max-width: 300px;
    height: 100%;
    font-size: .8rem;
}

hr {
    width: 100%;
    border: 1px solid var(--color-secondary);
}

.pedido-conteiner h2 {
    display: inline-block;
}

.pedido-conteiner a {
    top: -6px;
    position: relative;
    left: 24px;
}



.pedido-detail-conteiner {
    display: flex;
    justify-self: center;
    max-width: 1200px;
    justify-content: space-between;
    flex-flow: column nowrap;
    gap: 20px;
    padding: 20px 0;
    background: var(--color-white);
}

.dados-conteiner {
    display: flex;
    justify-self: center;
    padding: 20px;
    width: 1200px;
    justify-content: space-between;
    flex-flow: column nowrap;
    gap: 20px;
    background: var(--color-white);
}

.pedido-detail-conteiner .pedido,
.pedido-detail-conteiner .cliente {
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    width: 90%;
    gap: 10px;
}



.pedido-detail-conteiner .cliente .dados {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: 20px;
}

span {
    display: inline-block;
}

.valores {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    gap: 20px;
}

.valores span {
    max-width: 25%;
    min-width: 25%;
}

.red {
    background: rgb(253, 128, 128);
    border-color: rgb(253, 128, 128);

}

.gren {
    background: rgb(185, 255, 185);
    border-color: rgb(185, 255, 185);
}

.gray {
    background: rgb(185, 185, 185);
    border-color: rgb(185, 185, 185);
}

.blue {
    background: var(--color-primary);
    border-color: var(--color-primary);
}


.blur-back {
    background: rgba(255, 255, 255, 0.712);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: none;
}

.conteiner-buscar {
    background: var(--color-white);
    padding: 20px;
    margin: auto;
    align-self: center;
    width: 350px;
    height: 200px;
    z-index: 100;
    align-items: center;
    border-radius: 20px;
    transition: all 1s;
}

.conteiner-pix {
    background: var(--color-white);
    padding: 20px;
    margin: auto;
    align-self: center;
    z-index: 100;
    align-items: center;
    border-radius: 20px;
    transition: all 1s;
    flex-flow: column;
}

.conteiner-pix img {
    width: 300px;
    height: 300px;
}

.conteiner-pix textarea {
    height: 100px;
    resize: none;
}

.conteiner-pix.show {
    display: flex;
}


.blur-back.show {
    display: flex;
}

.conteiner-buscar.show {
    display: flex;
}


.conteiner-buscar form>* {
    margin-top: 10px;
}

.link-zap {
    color: rgb(118, 179, 28);
}

.conteiner-profile {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    padding: 20px;
    background: var(--color-white);
    border-radius: 0 0 20px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
}

.conteiner-profile h1 {
    grid-column: span 4;
    justify-self: start
}

.card {
    width: 100%;
    height: 150px;
    padding: 20px;
    background: var(--color-quaternary);
    border-radius: 20px;
}

.card-legenda {
    grid-column: 1 /span 3;
    width: 100%;
    align-content: center;
    text-align: center;
    height: 50px;
    background: var(--color-quaternary);
    border-radius: 20px;
    font-weight: bolder;
}

.conteiner-profile .filter {
    grid-column: 4;
    grid-row: 2 / span 3;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: var(--color-quaternary);
    border-radius: 20px;
}

.conteiner-profile .filter form {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px 5px;
    align-items: center;
}

.conteiner-profile .filter form button {
    width: 50%;
    justify-self: end;
    background: var(--color-gray);
}

.conteiner-profile .filter form .filter-session label {
    font-size: 0.8rem;
}

.conteiner-profile .grafico {
    grid-column: 1 / span 3;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 400px;
    background: var(--color-quaternary);
    color: #000000;
    padding: 10px;
    border-radius: 20px;
}

.conteiner.profile {
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 0;
    height: 100%;
}

.menu-profile {
    background: var(--color-primary);
    height: 100%;
    width: 150px;
    border-radius: 0 0 0 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
}

.menu-profile nav a {
    color: var(--color-white);
}

.menu-profile a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: var(--color-secondary);
    transition: width .3s;
}

.menu-profile a:hover::after {
    width: 100%;
}

.menu-profile nav {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    padding: 10px;
    gap: 10px 0;
}

.paginacao {
    padding: 4px 20px;
    background: var(--color-primary);
    border-radius: 5px;
}

.paginacao * {
    color: var(--color-white);
}

.paginacao strong::after,
.paginacao strong::before {
    content: '|';
    color: var(--color-quaternary);
}

.form-ped {
    justify-content: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    width: 100%;
    align-items: center;
    height: 45px;
}

.form-ped input {
    width: 60%;
}

.nav-filter {
    position: relative;
    z-index: 98;
    height: 39px;
    padding: 0 10px;
    border-radius: 10px;
    color: var(--color-white);
    overflow: hidden;
}

.nav-filter span {
    height: 40px;
    margin-top: 5px;
}

.nav-filter:hover .bt-filter {
    display: inline;
}

.nav-filter:hover {
    align-self: flex-start;
    height: 390px;

}

.filter-session {
    width: 130px;
    font-size: .6em;
}

.filter-session input {
    width: 10%;
    height: 10%;
    display: inline;
}

.bt-filter {
    display: none;
    transform: scale(.8);
    color: var(--color-black);
}

.dados-conteiner textarea {
    height: 80%;
}

.dados-conteiner img {
    max-width: 200px;
    max-height: 200px;
    
}
.dados-conteiner label {
    font-weight: bolder; 
}
.dados-conteiner div {
    margin-top: 20px;
}
.dados-conteiner span {
    width: 100%;
}

.dados-conteiner button {
    color: var(--color-primary);
    border: var(--color-primary) 2px solid;
}
.dados-conteiner hr {
    margin-block: 15px;
}

/* footer css style */

footer {
    margin-top: 50px;
    width: 100%;
    background: var(--color-black);
}

footer .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 40px;
    color: var(--color-gray);
}

footer .conteiner a {
    color: var(--color-gray);
}

.nav-footer {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    gap: 20px;
    width: 100%;
}

.nav-footer dt {
    font-size: 1.2rem;
    font-weight: bold;
}

.dev-create {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 20px;
    width: 100%;
    font-size: .8rem;
}

/* generics */

.flex {
    display: flex;
}

.gap20 {
    gap: 20px;
}

.jf-sb {
    justify-content: space-between;
}

.cl {
    flex-direction: column;
}

.c-p{
    color: var(--color-tertiary);
}

.al-end{
    align-items: end;
}