{% load static %}

<div class="carrossel-conteiner">
  <div class="carrossel">
    {% for foto in fotos %}
      <img src="{{ foto.foto.url }}" alt="" />
    {% endfor %}
  </div>
  <div class="dots-carrossel">
    {% for i in fotos %}
      {% if forloop.counter0 == 0 %}
        <div class="dot active" onclick="changeSlide({{ forloop.counter0 }})"></div>
      {% else %}
        <div class="dot" onclick="changeSlide({{ forloop.counter0 }})"></div>
      {% endif %}
    {% endfor %}
  </div>
</div>
