{% load filtros %}
<div class="google-conteiner" id="contato">
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1986.9497658272242!2d-42.80906013855407!3d-5.11988943484389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x78e37001ecd5bb9%3A0x7e997b96627a021!2sJoyce%20Bordados!5e0!3m2!1spt-BR!2sbr!4v1741400911774!5m2!1spt-BR!2sbr" width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="localizacao">
    <h2>Localização</h2>
    <p>{{ dados.endereco }}</p>
    <p>{{ dados.cidade }} - {{ dados.estado }}</p>
    <p>{{ dados.bairro }}</p>
    <p>CEP: {{ dados.cep }}</p>
  </div>
  <div class="contato">
    <h2>Contato</h2>
    <p>Telefone: {{ dados.telefone|formatar_telefone }}</p>
    <p>Email: {{ dados.email }}</p>
    <a href="" target="_blank"><button>Whatsapp</button></a>
  </div>
</div>
