<div class="conteiner">
    <div class="orcamento-container">
    <div class="orcamento-text ">
        <h2>Orçamento</h2>
        <p>Entre em contato conosco para solicitar um orçamento.</p>
    </div>
    <div class="orcamento-form">
        <form action="{% url 'cliente:orcamento' %}" method="post">
            {% csrf_token %}
            <input class="input-style" type="text" name="nome" placeholder="Nome" required>
            <input class="input-style" type="email" name="email" placeholder="Email">
            <input class="input-style" type="text" name="telefone" placeholder="Telefone">
            <textarea class="input-style" name="mensagem" placeholder="Mensagem" required style="resize: none;"></textarea>
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
</div>
