<div class="servicos-conteiner" id="servicos">
    <div class="serv bordado">
        <h2>Bordado</h2>
        <p>Trabalhamos com bordados computadorizados, que garantem qualidade e precisão nos detalhes. Bordamos em camisetas, uniformes, toalhas, bonés, entre outros.</p>
    </div>
    <div class="serv camisaeventos">
        <h2>Camisas para Eventos</h2>
        <p>Camisas personalizadas para eventos, festas, formaturas, entre outros. Trabalhamos com estampas e bordados, garantindo qualidade e durabilidade.</p>
    </div>
</div>