{% load static %}
<div class="sobre-conteiner">
  <div class="sobre">
    <h2>Sobre nós</h2>
    <p>A Joyce Bordados é uma empresa especializada em bordados computadorizados e confecção de uniformes. Trabalhamos com bordados em camisetas, toalhas, bonés, entre outros. Confeccionamos fardamentos para empresas, escolas, eventos, entre outros. Trabalhamos com uniformes personalizados, com bordados e estampas. Além disso, produzimos camisas personalizadas para eventos, festas, formaturas, entre outros. Trabalhamos com estampas e bordados, garantindo qualidade e durabilidade.</p>
  </div>
  <div class="sobre-img">
    <img src="{% static 'global/img/default-carrossel.png' %}" alt="" />
  </div>
</div>
