<div class="conteiner">
    <div class="nav-footer">
      <dl>
        <dt>Contato</dt>
        <dd>Telefone: (11) 9 9999-9999</dd>
        <dd>Email:</dd>
      </dl>
      <dl>
        <dt>Página</dt>
        <dd><a href="#">Home</a></dd>
        <dd><a href="#">Produtos</a></dd>
        <dd><a href="#">Contato</a></dd>
      </dl>
      <dl>
        <dt>Área do Cliente</dt>
        <dd><a href="#">Login</a></dd>
        <dd><a href="#">Cadastro</a></dd>
      </dl>
    </div>
    <div class="dev-create">
      <p>
        Desenvolvido por <a href="#">Micael Farias</a> • Criando com Django
      </p>
    </div>
  </div>