{% load filtros %}
<div class="conteiner">
    <div class="nav-footer">
      <dl>
        <dt>Contato</dt>
        <dd>Telefone: {{ dados.telefone | formatar_telefone }}</dd>
        <dd>Email: {{ dados.email }}</dd>
      </dl>
      <dl>
        <dt>Página</dt>
        <dd><a href="{% url 'joycebordados:home' %}">Home</a></dd>
        <dd><a href="#servicos">Produtos</a></dd>
        <dd><a href="#contato">Contato</a></dd>
      </dl>
      <dl>
        <dt>Área do Cliente</dt>
        <dd><a href="#">Buscar Pedido</a></dd>
      </dl>
    </div>
    <div class="dev-create">
      <p>
        Desenvolvido por <a href="#">Micael Farias</a> • Criando com Django
      </p>
    </div>
  </div>