{% load static %}
<div class="conteiner profile">
    {% include "empresa/partial/menu.html" %}
    <div class="conteiner-profile">
        <div class="dados-grid">
        <form action="{% url "adm:foto-new" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class='flex jf-sb gap20'>
                <h1>Fotos Carrosel</h1>
                <button type="submit" class='gren'>Salvar</button>
            </div>  
            <div class='flex gap20 al-end'>
                {% for i in fotos %}
                <span>
                    <img src="{{ i.foto.url }}" alt=""><br>
                    <a href="{% url "adm:foto-del" pk=i.pk %}" id='excluir'>❌</a>
                </span>
                {% endfor %}
            </div>
                <div>
                    <p style='display: none;'>{{form.empresa}} </p>
                    {{ form.foto }}
                </div>
            </form>
    </div>   
</div>
</div>
<script src="{% static "global/js/excluir.js" %}"></script>