<div class="conteiner profile">
    {% include "empresa/partial/menu.html" %}
    <div class="dados-conteiner">
        <form action="{% url "empresa:dados-edit" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class='flex jf-sb gap20'>
                <h1>Configuração</h1>
                <button type="submit" class='gren'>Salvar</button>
            </div>  
        <div>
            {{ form.nome.label_tag }}
            {{ form.nome }}
        </div>    
        <div class='flex jf-sb gap20'>
            <span>
                {{ form.email.label_tag }}
                {{ form.email }}
            </span>
            <span>
                {{ form.telefone.label_tag }}
                {{ form.telefone }}
            </span>
        </div>    
        <div class='flex jf-sb gap20'>
            <span>
                {{ form.endereco.label_tag }}
                {{ form.endereco }}
            </span>
            <span>
                {{ form.numero.label_tag }}
                {{ form.numero }}
            </span>
            <span>
                {{ form.bairro.label_tag }}
                {{ form.bairro }}
            </span>
        </div>    
        <div class='flex jf-sb gap20'>
            <span>
                {{ form.cidade.label_tag }}
                {{ form.cidade }}
            </span>
            <span>
                {{ form.estado.label_tag }}
                {{ form.estado }}
            </span>
            <span>
                {{ form.cep.label_tag }}
                {{ form.cep }}
            </span>
        </div>    
        <hr>
        <div class='flex jf-sb gap20'>
            <span>
                <label for="{{ form.logo.id_for_label }}">Alterar imagem: </label>
                <input type="file" name="{{ form.logo.name }}" id="{{ form.logo.id_for_label }}">
                <label for="logo-clear">Remover imagem: </label>
                <input type="checkbox" name="logo-clear" id="logo-clear">
            </span>
            <span>
                {% if form.logo.value %}
                <img src="{{ form.logo.value.url }}" alt="Logo atual" >
                {% endif %}
            </span>
        </div>  
        <div class='flex gap20 jf-sb'>
            <div style='width: 110%;'>
                <label for="{{ form.sobre.id_for_label }}">Sobre: </label>
                <textarea name="{{ form.sobre.name }}" id="{{ form.sobre.id_for_label }}">{{ form.sobre.value }}</textarea>
            </div>
            <div class='flex cl jf-sb'>
                <span>
                    <label for="{{ form.foto_sobre.id_for_label }}">Alterar imagem: </label>
                    <input type="file" name="{{ form.foto_sobre.name }}" id="{{ form.foto_sobre.id_for_label }}">
                    <label for="foto_sobre-clear">Remover imagem: </label>
                    <input type="checkbox" name="foto_sobre-clear" id="foto_sobre-clear">
                </span>
                <span>
                    {% if form.foto_sobre.value %}
                    <img src="{{ form.foto_sobre.value.url }}" alt="Logo atual" >
                    {% endif %}
                </span>
            </div>  
        </div>   
        </form>
    </div>
</div>