<div class="conteiner profile">
  {% include "empresa/partial/menu.html" %}
  <div class="pedidos-conteiner">
      <div class="pedidos-filtro">
        <form action="" method="get" class='form-ped'>
          <a href="{% url "adm:new-pedido" %}" class='blue button-style'>
            Novo Pedido
          </a>
          <span>
            <button class='bt-filter '>Filtar</button>
            <span>|</span>
            <a href="/profile/pedidos/" class='bt-filter'>
              Limpar
            </a>
          </span>
          <div class='nav-filter blue'>
            
            <div class="filter-session">
              <span>Filtro</span>
              <hr>
              {{ form.status.label_tag }}
              {{ form.status }}
              <hr>
              {{ form.pago.label_tag }}
              {{ form.pago }}
              <hr>
            </div>
          </div>
        </form>
        <div id="tabela2"></div>
      </div>
  </div>
</div>
