{% load filtros %}
<tr class="{% if pedido.status.0 == '1' %}red
{% elif pedido.status.0 == '2' %}green
{% elif pedido.status.0 == '3' %}gray
{% endif %}">
<a href="{% url 'empresa:detail-pedido' pk=pedido.pk %}">
    <td>
      <strong>#{{ pedido.codigo }}</strong>
    </td>
    <td>{{ pedido.cliente.nome }}</td>
    <td>{{ pedido.cliente.numero|formatar_telefone }}</td>
    <td>{{ pedido.data_entrega|date:'d/m/Y' }}</td>
    <td>{{ pedido.produto }}</td>
    <td>{{ pedido.get_status_display }}</td>
    <td>
      {% if pedido.pago %}
        <span class="icon yes">✅</span>
      {% else %}
        <span class="icon no">❌</span>
      {% endif %}
    </td>
</a>
</tr>
